<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yellow Sticks</title>
	<link rel="shortcut icon" href="../static/img/icon.png" type="image/png">
	<link rel="dns-prefetch" href="//site.com">
	<link rel="preconnect" href="//site.com">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>

	<footer class="top">
		<a href=""><p class="footer">Yellow sticks</p></a>
		<div class="center_footer">
			<a href="#about"><p class="footer">About</p></a>
			<a href="#roadmap"><p class="footer">Roadmap</p></a>	
			<a href="#FAQ"><p class="footer">FAQ</p></a>
		</div>
		<div class="contacts">
			<img src="../static/img/discord.png" class="contacts">
			<a href="https://opensea.io/collection/yellowsticks"><img src="../static/img/opensea.png" class="contacts"></a>
			<img src="../static/img/twitter.png" class="contacts"></a>
		</p>
	</footer>
	<div class="main_window">
		<dl>
			<dt class="header_main_window"><h1 class="header_main_window">Yellow sticks</h1></dt>
			<dd>But in fact, they are not only yellow :)
			</dd>
		</dl>
		<img src="../static/img/1.png" class="main_card">
	</div>


	<div class="statistics">
		<div class="banana_example">
			<div class = "stats_border">
				<h3 class="stats">{{staticticks[0]}}</h3>
				<h4 class="stats">TOTAL MINTED</h4>
			</div>
			<img src="../static/img/stick_example_1.png" class="banana_example">
			
		</div>
		<div class="banana_example">
			<div class = "stats_border">
				<h3 class="stats">{{staticticks[1]}}</h3>
				<h4 class="stats">OWNERS</h4>
			</div>
				<img src="../static/img/stick_example_2.png" class="banana_example">
		</div>
		<div class="banana_example">
			<div class = "stats_border">
				<h3 class="stats">{{staticticks[2]}}</h3>
				<h4 class="stats">AVERAGE PRICE</h4>
			</div>
				<img src="../static/img/stick_example_3.png" class="banana_example">

		</div>
		<div class="banana_example">
			<div class = "stats_border">
				<h3 class="stats">{{staticticks[3]}}</h3>
				<h4 class="stats">VOLUME TRADED</h4>
			</div>
				<img src="../static/img/stick_example_4.png" class="banana_example">

		</div>
	</div>
	<h1 class="about" id="about">Yellow what??</h1>
	<div class="about">
		
		<p class="about">Yellow Sticks are a collection of programmatically, randomly generated NFTs on the Ethereum blockchain. Circulation of sticks consists of 10,000 randomly assembled sticks. Your stick could have a variety of outfits, combinations and colors - all sticks are cool, but cool outfited sticks are the coolest.</p>
		
	</div>
	<h1 class="about">Sticks are flat</h1>
	<div class="about">
		
		<p class="about">Yellow sticks are priced at a flat rate (0.05 Ξ), but we hid some interesting sticks at the end of the batch</p>
	</div>

	<h1 class="about">Also we have HRS!</h1>
	<div class="about">
		<p class="about">HRS or High Resolution Sticks are crisply rendered at 2048 by 2048 pixels – perfect for printing out and make it real or posting on any form of social media.</p>
	</div>

	<h1 class="roadmap" id="roadmap">Roadmap</h1>
	<img src="../static/img/roadmap.png" class="roadmap">

	<div class="description">

		<h1 class="description" id="FAQ">YELLOW INFORMATION</h1>
		<p class="description"><b>Release Date</b> — ???</p>
		<p class="description"><b>Total number of tokens</b> — 10,000</p>
		<p class="description"><b>Tokens withheld from sale</b> — 100 (<i>giveaways, marketing, collaborations, discord giveaways and team</i>)</p>
		<p class="description"><b>Price per token</b> — 0.05 ETH</p>
		<p class="description"><b>Token type</b> — ERC-721</p>
		<p class="description"><b>Blockchain</b> — Ethereum</p>
		<p class="description"><b>Number of traits</b> — 6</p>
		<p class="description"><b>Number of attributes</b> — 90</p>
		<p class="description"><b>Minimum number of traits</b> — 2</p>
	</div>
	<footer class = "bottom"></footer>


	
<!--
	<p>FAQ</p>
	<p>Contact twitter discord opensea github</p>
-->





	


	
</body>
</html>